@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&display=swap');

:root {
    --goldenrod: #E69C24;
    --hover-goldenrod: #D79221;
    --cadet-blue: #9EADBC;
    --baby-blue: #e3f7ff;
    --charcoal: #22303C;
}

body {
    background-color: var(--charcoal);
    color: var(--baby-blue);
}

* {
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
    transition: 0.4s;
    color: var(--baby-blue) !important;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 6px;
}

body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif !important;
}

.border-out {
    border: 1px solid #fff;
}

#navbarToggler ul>li {
    position: relative;
}

#navbarToggler ul>li::after {
    content: '';
    position: absolute;
    top: 120%;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--baby-blue);
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

#navbarToggler ul>li:hover::after,
#navbarToggler ul>li.active::after {
    width: 100%;
}

.top-skills-container,
.cta-container {
    user-select: none;
}

.cta-container>a {
    transition: 0.3s ease all;
    animation: ctashake 1s ease normal infinite;
}

.cta-container>a:hover {
    background-color: var(--goldenrod) !important;
    color: var(--charcoal) !important;
    box-shadow: 0px 0px 5px 5px var(--hover-goldenrod);
}

.cta-container>a:hover>i {
    color: var(--charcoal) !important;
}

div.nav-bar-scroll-shadow {
    box-shadow: 0px 2px 5px 0px rgba(255, 255, 255, 1);
}

#navbarToggler {
    width: inherit;
    margin: auto;
    background-color: var(--charcoal) !important;
    text-align: center;
}

#navbarToggler ul {
    margin: 0px;
    padding: 5px 15px;
}

#navbarToggler ul>li {
    display: inline-block !important;
    margin: 1px 5px;
}


span.top-skill {
    background-color: var(--cadet-blue);
}

span.top-skill,
span.top-skill>i {
    color: var(--charcoal) !important;
}

section#landing-section {
    min-height: 99vh;
}

#links-container,
#resume-download-container {
    position: relative;
}

#links-content,
#download-cv-dropdown-content {
    position: absolute;
    border: 1px solid var(--charcoal);
    width: 150px;
    border-radius: 7px;
    padding: 0px;
    top: 25px;
    background: var(--cadet-blue);
    box-shadow: 0px 0px 5px 0px var(--cadet-blue);
}

#download-cv-dropdown-content>a,
#links-content>a {
    text-decoration: none;
    border-radius: 7px;
}

#links-content>a {
    text-align: left !important;
}

#download-cv-dropdown-content>a:hover,
#links-content>a:hover {
    background: var(--goldenrod);
    color: var(--charcoal) !important;
}

#download-cv-dropdown-content>a:hover>i,
#links-content>a:hover>i {
    color: var(--charcoal) !important;
}

.bounce-in-top {
    -webkit-animation: bounce-in-top .5s both;
    animation: bounce-in-top .5s both;
}
a.btn-reach-out,a.btn-reach-out>i  {
    background: var(--goldenrod);
    color: var(--charcoal) !important;
}

a.btn-reach-out:hover{
    box-shadow: 0px 0px 5px 5px var(--hover-goldenrod);
}

@media only screen and (max-width: 768px) {
    #navbarToggler {
        height: fit-content;
    }

}

@-webkit-keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes ctashake {

    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }

    10% {
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-2deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(2deg);
    }

    80% {
        transform: rotate(2deg);
    }

    90% {
        transform: rotate(2deg);
    }
}

/*
    
.burger-btn-navbar-toggler {
    display: none;
}

ul.nav-tabs {
    border: 0px;
}

.lse-blue .navbar-nav .nav-link:hover {
    background: var(--light-blue);
    border-radius: 7px;
}

footer .nav-link {
    font-size: 1.6em;
}

#personal-image {
    width: 240px;
    border: 1px solid;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    clear: both;
    margin-right: 50px;
}

#personal-image img {
    width: 100%;
    height: auto;
}

section {
    padding-top: 60px !important;
    min-height: 50vh;
}




.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 7px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}


#landing-section h1 {
    font-size: 4em;
}

#landing-section h2 {
    font-size: 2em;
}


#btnContact,
.cta-default {
    background: var(--red);
    color: #fff;
}

.cta-default:hover,
#btnContact:hover {
    background: var(--light-blue);
    color: #fff;
}

.cta-default {
    font-size: 1.7em;
    text-decoration: none;
    padding: 0px 10px;
}

div.card {
    width: 30%;
}

.card-img-coontainer {
    max-height: 170px;
    min-height: 170px;
    height: 170px;
    overflow: hidden;
}

.card:hover img {
    transform: scale(1.3);
}

.card .cta-default {
    font-size: 1.2em;
}

.contact-additional-info {
    font-size: 1.3em;
}

.contact-additional-info i {
    margin: 1px 5px;
}

#download-cv-container {
    position: relative;
}

#what-i-do>div {
    width: 30%;
}

#download-cv-dropdown-content {
    position: absolute;
    border: 1px solid #ccc;
    width: 200px;
    border-radius: 7px;
    padding: 0px;
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

#download-cv-dropdown-content>a {
    text-decoration: none;
    border-radius: 7px;
}

#download-cv-dropdown-content>a:hover {
    background: var(--light-blue);
    color: #fff;
}

#nav-tabs-container .nav-item .nav-link {
    color: var(--red);
}

#nav-tabs-container .nav-item .nav-link.active {
    background: #eee;
    border-bottom: 1px solid #eee;
}

#tab-elt-content {
    background: #eee;
    border: 1px solid #E4E4E4;
    border-radius: 7px;
    min-height: 480px;
    transition: height 0.3s ease;
}

.bounce-in-top {
    -webkit-animation: bounce-in-top .5s both;
    animation: bounce-in-top .5s both
}

h5.card-title {
    color: var(--blue) !important;
}

@-webkit-keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@media only screen and (max-width: 450px) {
    #what-i-do>div {
        width: 90%;
    }

    .burger-btn-navbar-toggler {
        display: block;
    }

    #navbarToggler ul {
        min-width: fit-content;
        margin: auto;
        width: 50%;
    }

    #navbarToggler li.nav-item.active::after {
        height: 5px;
    }

    div.card {
        width: calc(100% - 20px);
    }

    .py-5 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    #download-cv-dropdown-content {
        position: absolute;
        right: -85px;
        top: 52px;
    }

    #landing-section h1 {
        font-size: 2.6em;
    }
}

@media only screen and (max-width: 768px) and (min-width: 450px) {
    #what-i-do>div {
        width: 80%;
    }

    .burger-btn-navbar-toggler {
        display: block;
    }

    div.card {
        width: calc(50% - 20px);
    }

    #download-cv-dropdown-content {
        position: absolute;
        right: -85px;
        top: 52px;
    }

    #landing-section h1 {
        font-size: 2.6em;
    }
}

@media only screen and (max-width: 990px) and (min-width: 768px) {
    #what-i-do>div {
        width: 45%;
    }

    .burger-btn-navbar-toggler {
        display: block;
    }

    nav {
        width: calc(100% - 10px);
        margin: 1% auto;
        border-radius: 7px;
    }

    #navbarToggler {
        transition: height 0.5s ease;
    }

    #navbarToggler.show {
        height: fit-content;
    }

    #navbarToggler>* {
        display: inline-block !important;
    }

    #navbarToggler>.navbar-brand {
        position: absolute;
        top: 1%;
        right: 1%;
    }

    #navbarToggler>.navbar-nav {
        width: fit-content;
        text-align: left;
    }

    #personal-image {
        width: 180px;
        border: 1px solid;
        border-radius: 50%;
        overflow: hidden;
        float: left;
        clear: both;
        margin-right: 10px;
    }

    section {
        padding: 0px;
    }

    #landing-section h1 {
        font-size: 2.6em;
    }

    #landing-section h2 {
        font-size: 1.6em;
    }

    #download-cv-dropdown-content {
        position: absolute;
        right: -85px;
        top: 52px;
    }
}
*/